* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

main {
   
    max-width: 90%;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
  }

.placeholderImg {
    width:100%;
}

.navBarUl {
    display: flex;
    justify-content: space-evenly;
}

.navBarLi {
    list-style: none;
    
}

.ulForCards {
    display: flex;
    justify-content:space-evenly;
    width:100vw;
    flex-wrap: wrap;
}

.projList{
    list-style: none;
    margin: 1% .5% 1% .5%;
    border: 2px solid black;
}

/* .projImg {
    height: 10%;
} */

.contact-form{
    display: flex;
    flex-direction: column;
}

.resumeDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proficiencies{
    display: flex;
}

.proficiencies div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.footerLinks{
    display: flex;
    justify-content: space-evenly;
}