* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

main {
    width: 100%;
    background-image: linear-gradient(to bottom right, black, white, black, silver, black);
    min-height:100vh;

    
  }

.placeholderImg {
    width:100%;
}

.navBarUl {
    display: flex;
    justify-content: space-evenly;
}

.navBarLi {
    list-style: none;
    
}

/* .about-me-container{
    display: flex;
    flex-direction: column;
} */

.about-me-img{
    width: 50vw
}

.ulForCards {
    display: flex;
    justify-content:space-evenly;
    width:100vw;
    flex-wrap: wrap;
}

.projList{
    list-style: none;
    margin: 1% .5% 1% .5%;
    border: 2px solid black;
}

.contact-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
    width: 50vw
}

.form-field{
    margin:1% 0 1% 0;
}


.resumeDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.proficiencies{
    display: flex;
    width:100vw;
    flex-direction: column;
    align-items: center;
}

.logosContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    padding: 2%;
}

.individualLogos{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.footerLinks{
    display: flex;
    justify-content: space-evenly;
    padding:2% 0 4% 0
}

