* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

main {
   
    max-width: 90%;
    width: 100%;
  }

.placeholderImg {
    width:100vw;
}

.navBarUl {
    display: flex;
    justify-content: space-evenly;
}

.navBarLi {
    list-style: none;
    
}

.nav-link-highlighted{
    background-color: blue;
}

.ulForCards {
    display: flex;
    justify-content:space-evenly;
    width:100vw;
    flex-wrap: wrap;
}

.projList{
    list-style: none;
}

/* .projImg {
    height: 10%;
} */